
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
    --ownPurple: #c781f19c;
}

body {
    background: #b7b7b848;
}

.bg-colorwhite {
    background: rgba(48, 48, 48, 0.856);
    box-shadow: 0 0 150px #000;
}

.bg-own {
    background: -webkit-linear-gradient(left, #844cec, #c300ff);
}

.btn-own {
    background: #580ae7;
    margin-bottom: 0.5rem;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.icon-clr {
    background: -webkit-linear-gradient(left, #844cec, #c300ff);
}

.btn-own:hover {
    box-shadow: 0 0 6px rgb(53, 53, 53);
    background: #a32eda;
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}

.user {
    color: var(--ownPurple);
    font-size: 5rem;
    margin-top: -1rem;
}

.text-color {
    color: #ffffff;
}

.text-info-own {
    color: rgba(165, 13, 211, 0.836);
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;

}

.form-border {
    border-radius: 4px;
    border: 3px solid #1616165b;
    padding: 6px;
}

.form-control {
    border-radius: 10px;
}

#accountReg h1 {
    font-size: 1.5rem;
}

#exampleCheck1 {
    margin-top: 0.45rem;
}

#hr-1 {
    background: rgba(128, 0, 128, 0.418);
}

.invalid-red {
    color: red;
}

.invalid-own {
    color: red;
    font-size: 0.9rem;
}

.pass-info {
    margin-top: 0.3rem;
    font-size: 0.9rem;
}

#textarea1 {
    resize: none;
}

.min-form {
    margin-top: 1.75rem; 
}

.dropdown-toggle::after { 
    content: none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.hideReg {
    display: none;
    color: red;
    font-weight: 500;
}

@media(max-width: 576px) {
    .min-form {
        margin-left: -2rem;
        margin-top: -0rem;
    }
}